#1. Condition

If Sentence

In [ ]:
name = input('Enter your name : ')

In [ ]:
if name == 'bird':
    print("I could fly to you")
else:
    print("I could walk to you")

In [ ]:
if  name == 'bird':
    print("I could fly to you")
elif name == 'pig':
    print("I could walk to you")
else:
    print("I could stay to you")

#2. Loop

For Sentence

While Sentence

In [ ]:
# Input table number : For
num = int(input('Enter Multiplication table Number : '))

In [ ]:
for i in range(1, 10):
    print(num, 'X', i, '=', num*i)

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d X %2d = %5d" %(i, j, i*j))
    print("----------------")

In [ ]:
# Input table number : While
num = int(input('Enter Multiplication table Number : '))

In [ ]:
i = 1
while i < 10:
    print(num, 'X', i, '=', num*i)
    i += 1

In [ ]:
i = 2
while i < 10:
    j = 1
    while j < 10:
        print("%2d X %2d = %5d" %(i, j, i*j))
        j += 1
    print("----------------") 
    i += 1

#3. Petstore

In [12]:
petstores = [
            {"item": "Persian Adult Female", "price": 93.5},
            {"item": "Bulldog Male Adult", "price": 18.5},
            {"item": "Amazon Parrot Adult Male", "price": 193.5},
            {"item": "Koi Spotted", "price": 18.5}
        ]

In [14]:
items = []
prices = []
for petstore in petstores:
    items.append(petstore["item"])
    prices.append(petstore["price"])
print(items)
print(prices)

['Persian Adult Female', 'Bulldog Male Adult', 'Amazon Parrot Adult Male', 'Koi Spotted']
[93.5, 18.5, 193.5, 18.5]