#1. Class

In [ ]:
petstores = [
            {"item": "Persian Adult Female", "price": 93.5},
            {"item": "Bulldog Male Adult", "price": 18.5},
            {"item": "Amazon Parrot Adult Male", "price": 193.5},
            {"item": "Koi Spotted", "price": 18.5}
        ]

In [ ]:
class Comments:
    title               = "#### Welcome to %s ####"
    product_description = "%s:%s($%s)"
    insert_fare         = "\nPlease insert money : "
    insufficient_fare   = "%s Insufficient money. The balance is $%s."
    select_item      = "Please select item"
    select_error        = "Please try again."
    finish_sale         = "You select %s. The balance is $%s.\nThank you."
    terminate_sale      = "End the sale."

In [ ]:
class Products:
    productNames  = []
    productValues = []

In [ ]:
class PetStore(Products):
    _data = petstores
    _name = 'PetStore'
    _status = True

    def __init__(self):
        print(Comments.title %self._name)

    def set_products(self):
        #초기화
        Products.productNames =[]
        Products.productValues = []
        
        for product in self._data:
            Products.productNames.append(product['item'])
            Products.productValues.append(product['price'])

    def run(self):
        self.set_products()
        while self._status:
            try:
                inputMoney = int(input(Comments.insert_fare))
            except ValueError:
                print(Comments.select_error)
            else:
                self.selectItem(inputMoney)

    def selectItem(self, money):
        print(Comments.select_item)
        for idx, name in enumerate(Products.productNames):
            price = Products.productValues[idx]
            print(Comments.product_description %(str(idx), name, price))
        inputItem = int(input(Comments.select_item))
        self.payment(money, inputItem)

    def payment(self, money, idx):
        name = Products.productNames[idx]
        price = Products.productValues[idx]
        if money >= price:
            balance = money - price
            print(Comments.finish_sale %(name, str(balance)))
        else:
            print(Comments.insufficient_fare %(name, str(money)))

In [ ]:
store = PetStore()

try:
    store.run()
except KeyboardInterrupt:
    store._status = False
    print(Comments.terminate_sale)

#### Welcome to PetStore ####

Please insert money : 100
Please select item
0:Persian Adult Female($93.5)
1:Bulldog Male Adult($18.5)
2:Amazon Parrot Adult Male($193.5)
3:Koi Spotted($18.5)
Please select item0
You select Persian Adult Female. The balance is $6.5.
Thank you.

Please insert money : 100
Please select item
0:Persian Adult Female($93.5)
1:Bulldog Male Adult($18.5)
2:Amazon Parrot Adult Male($193.5)
3:Koi Spotted($18.5)
Please select item2
Amazon Parrot Adult Male Insufficient money. The balance is $100.

Please insert money : 100
Please select item
0:Persian Adult Female($93.5)
1:Bulldog Male Adult($18.5)
2:Amazon Parrot Adult Male($193.5)
3:Koi Spotted($18.5)
Please select item1
You select Bulldog Male Adult. The balance is $81.5.
Thank you.
End the sale.

#2. Inheritance

In [ ]:
movies = [
            {"item": "Toy story", "price": 97.5},
            {"item": "Toy story 2", "price": 78.5},
            {"item": "Toy story 3", "price": 83.5},
            {"item": "Toy story 4", "price": 108.5}
        ]

In [ ]:
class MovieStore(PetStore):
    _data = movies
    _name = 'MovieStore'

In [ ]:
store = MovieStore()

try:
    store.run()
except KeyboardInterrupt:
    store._status = False
    print(Comments.terminate_sale)

#### Welcome to MovieStore ####

Please insert money : 100
Please select item
0:Toy story($97.5)
1:Toy story 2($78.5)
2:Toy story 3($83.5)
3:Toy story 4($108.5)
Please select item0
You select Toy story. The balance is $2.5.
Thank you.

Please insert money : 100
Please select item
0:Toy story($97.5)
1:Toy story 2($78.5)
2:Toy story 3($83.5)
3:Toy story 4($108.5)
Please select item3
Toy story 4 Insufficient money. The balance is $100.

Please insert money : 100
Please select item
0:Toy story($97.5)
1:Toy story 2($78.5)
2:Toy story 3($83.5)
3:Toy story 4($108.5)
Please select item2
You select Toy story 3. The balance is $16.5.
Thank you.
End the sale.