## 1. Mounting Google Drive

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
!ls -al '/gdrive/My Drive/data'

total 23316
-rw------- 1 root root 9453240 Aug  7  2019 marathon_2015_2017.csv
-rw------- 1 root root 1750754 Feb 22 17:41 marathon_2015_2017_qualifying.csv
-rw------- 1 root root    1349 Aug 19  2019 marathon_qualifying_time.csv
-rw------- 1 root root 4228123 Apr 29  2017 marathon_results_2015.csv
-rw------- 1 root root 4244383 Apr 29  2017 marathon_results_2016.csv
-rw------- 1 root root 4196246 Apr 29  2017 marathon_results_2017.csv

## 2. Import Data

In [3]:
import pandas as pd

In [4]:
marathon_2017 = pd.read_csv('/gdrive/My Drive/data/marathon_results_2017.csv')

In [5]:
marathon_2017.head()

   Unnamed: 0 Bib              Name  ...  Overall Gender Division
0           0  11   Kirui, Geoffrey  ...        1      1        1
1           1  17       Rupp, Galen  ...        2      2        2
2           2  23     Osako, Suguru  ...        3      3        3
3           3  21  Biwott, Shadrack  ...        4      4        4
4           4   9    Chebet, Wilson  ...        5      5        5

[5 rows x 25 columns]

In [6]:
marathon_2017.tail()

       Unnamed: 0    Bib                      Name  ...  Overall Gender Division
26405       26405  25166  Steinbach, Paula Eyvonne  ...    26407  11972      344
26406       26406  25178        Avelino, Andrew R.  ...    26408  14436     4774
26407       26407  27086           Hantel, Johanna  ...    26409  11973      698
26408       26408  25268              Reilly, Bill  ...    26410  14437     1043
26409       26409  25266             Rigsby, Scott  ...    26411  14438     2553

[5 rows x 25 columns]

In [7]:
marathon_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26410 entries, 0 to 26409
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     26410 non-null  int64
 1   Bib            26410 non-null  object
 2   Name           26410 non-null  object
 3   Age            26410 non-null  int64
 4   M/F            26410 non-null  object
 5   City           26410 non-null  object
 6   State          22815 non-null  object
 7   Country        26410 non-null  object
 8   Citizen        1254 non-null   object
 9   Unnamed: 9     91 non-null     object
 10  5K             26410 non-null  object
 11  10K            26410 non-null  object
 12  15K            26410 non-null  object
 13  20K            26410 non-null  object
 14  Half           26410 non-null  object
 15  25K            26410 non-null  object
 16  30K            26410 non-null  object
 17  35K            26410 non-null  object
 18  40K            26410 non-null  object
 19  Pace           26410 non-null  object
 20  Proj Time      26410 non-null  object
 21  Official Time  26410 non-null  object
 22  Overall        26410 non-null  int64
 23  Gender         26410 non-null  int64
 24  Division       26410 non-null  int64
dtypes: int64(5), object(20)
memory usage: 5.0+ MB

## 3. Data Cleansing

In [8]:
#Checking the null values in the data fields
marathon_2017.isnull().sum(axis=0)

Unnamed: 0           0
Bib                  0
Name                 0
Age                  0
M/F                  0
City                 0
State             3595
Country              0
Citizen          25156
Unnamed: 9       26319
5K                   0
10K                  0
15K                  0
20K                  0
Half                 0
25K                  0
30K                  0
35K                  0
40K                  0
Pace                 0
Proj Time            0
Official Time        0
Overall              0
Gender               0
Division             0
dtype: int64

In [9]:
#Show columns of the data frame
marathon_2017.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [10]:
marathon_2017_clean = marathon_2017.drop(['Unnamed: 0','Bib','Unnamed: 9'], axis='columns')

In [11]:
marathon_2017_clean.head()

               Name  Age M/F  ... Overall Gender Division
0   Kirui, Geoffrey   24   M  ...       1      1        1
1       Rupp, Galen   30   M  ...       2      2        2
2     Osako, Suguru   25   M  ...       3      3        3
3  Biwott, Shadrack   32   M  ...       4      4        4
4    Chebet, Wilson   31   M  ...       5      5        5

[5 rows x 22 columns]

In [12]:
marathon_2017_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26410 entries, 0 to 26409
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           26410 non-null  object
 1   Age            26410 non-null  int64
 2   M/F            26410 non-null  object
 3   City           26410 non-null  object
 4   State          22815 non-null  object
 5   Country        26410 non-null  object
 6   Citizen        1254 non-null   object
 7   5K             26410 non-null  object
 8   10K            26410 non-null  object
 9   15K            26410 non-null  object
 10  20K            26410 non-null  object
 11  Half           26410 non-null  object
 12  25K            26410 non-null  object
 13  30K            26410 non-null  object
 14  35K            26410 non-null  object
 15  40K            26410 non-null  object
 16  Pace           26410 non-null  object
 17  Proj Time      26410 non-null  object
 18  Official Time  26410 non-null  object
 19  Overall        26410 non-null  int64
 20  Gender         26410 non-null  int64
 21  Division       26410 non-null  int64
dtypes: int64(4), object(18)
memory usage: 4.4+ MB

#4. Data Selection

In [13]:
name = marathon_2017_clean.Name

In [14]:
name

0                 Kirui, Geoffrey
1                     Rupp, Galen
2                   Osako, Suguru
3                Biwott, Shadrack
4                  Chebet, Wilson
                   ...
26405    Steinbach, Paula Eyvonne
26406          Avelino, Andrew R.
26407             Hantel, Johanna
26408                Reilly, Bill
26409               Rigsby, Scott
Name: Name, Length: 26410, dtype: object

In [16]:
official_time = marathon_2017_clean['Official Time']

In [17]:
official_time

0        2:09:37
1        2:09:58
2        2:10:28
3        2:12:08
4        2:12:35
          ...
26405    7:09:39
26406    7:16:59
26407    7:19:37
26408    7:20:44
26409    7:58:14
Name: Official Time, Length: 26410, dtype: object

In [21]:
marathon_2017_selection = pd.DataFrame(marathon_2017_clean, columns=['Name', 'Age',	'M/F',	'City',	'State'])

In [22]:
marathon_2017_selection

                           Name  Age M/F           City State
0               Kirui, Geoffrey   24   M       Keringet   NaN
1                   Rupp, Galen   30   M       Portland    OR
2                 Osako, Suguru   25   M   Machida-City   NaN
3              Biwott, Shadrack   32   M  Mammoth Lakes    CA
4                Chebet, Wilson   31   M       Marakwet   NaN
...                         ...  ...  ..            ...   ...
26405  Steinbach, Paula Eyvonne   61   F        Ontario    CA
26406        Avelino, Andrew R.   25   M   Fayetteville    NC
26407           Hantel, Johanna   57   F        Malvern    PA
26408              Reilly, Bill   64   M       New York    NY
26409             Rigsby, Scott   48   M     Alpharetta    GA

[26410 rows x 5 columns]

In [23]:
seniors = marathon_2017_clean.Age > 60

In [24]:
seniors

0        False
1        False
2        False
3        False
4        False
         ...
26405     True
26406    False
26407    False
26408     True
26409    False
Name: Age, Length: 26410, dtype: bool

In [25]:
seniors_selection = marathon_2017_clean[marathon_2017_clean.Age > 60]

In [26]:
seniors_selection

                           Name  Age M/F  ... Overall Gender Division
1676          Bariyanga, Joseph   61   M  ...    1677   1564        3
1802            Funk, Dennis L.   61   M  ...    1803   1680        4
1949          Beasley, Steve G.   61   M  ...    1950   1810        5
2731                Dykes, Gene   69   M  ...    2732   2479        1
2863          Standerfer, Joe L   61   M  ...    2864   2601        8
...                         ...  ...  ..  ...     ...    ...      ...
26397        Coffman, Steven D.   69   M  ...   26399  14429      425
26398           Scholtz, Theo E   70   M  ...   26400  14430      138
26401       Elliott, Gregory J.   68   M  ...   26403  14432      426
26405  Steinbach, Paula Eyvonne   61   F  ...   26407  11972      344
26408              Reilly, Bill   64   M  ...   26410  14437     1043

[1637 rows x 22 columns]

In [27]:
(marathon_2017_clean.Age > 60).unique()

array([False,  True])

In [28]:
marathon_2017_clean.Country.unique()

array(['KEN', 'USA', 'JPN', 'ETH', 'ZIM', 'MEX', 'BRN', 'BRA', 'CAN',
       'ITA', 'NED', 'IRL', 'BDI', 'GBR', 'GER', 'ESP', 'SUI', 'COL',
       'NOR', 'POL', 'FRA', 'RUS', 'POR', 'CRC', 'BEL', 'NZL', 'PER',
       'DOM', 'PAN', 'AUS', 'DEN', 'MAS', 'PHI', 'CHI', 'AUT', 'ARG',
       'SIN', 'CHN', 'TWN', 'GUA', 'RSA', 'HKG', 'SLO', 'EST', 'TUR',
       'EGY', 'IND', 'UAE', 'SWE', 'BER', 'KOR', 'CAY', 'FIN', 'LTU',
       'GRE', 'CRO', 'ISL', 'LUX', 'FLK', 'VEN', 'JAM', 'THA', 'HON',
       'SRB', 'CZE', 'ISR', 'MLT', 'HUN', 'ECU', 'KSA', 'ESA', 'MAR',
       'ROU', 'LAT', 'UKR', 'SMR', 'BUL', 'ALG', 'NCA', 'SVK', 'AND',
       'BAR', 'INA', 'GRN', 'URU', 'PAR', 'TCA', 'KUW', 'TRI', 'MGL',
       'NGR'], dtype=object)

In [29]:
KEN_runner = marathon_2017_clean[marathon_2017_clean.Country == 'KEN']

In [30]:
KEN_runner

                   Name  Age M/F  ... Overall Gender Division
0       Kirui, Geoffrey   24   M  ...       1      1        1
4        Chebet, Wilson   31   M  ...       5      5        5
14        Korir, Wesley   34   M  ...      15     15       13
17      Mutai, Emmanuel   32   M  ...      18     18       15
20       Kiplagat, Edna   37   F  ...      21      1        1
43      Cherono, Gladys   33   F  ...      44      5        5
53  Kipketer, Valentine   24   F  ...      54      6        6
69       Kosgei, Brigid   23   F  ...      70      8        8

[8 rows x 22 columns]

In [31]:
marathon_2017_clean_north_america = marathon_2017_clean[marathon_2017_clean.Country.isin(['USA', 'CAN'])]

In [32]:
marathon_2017_clean_north_america

                           Name  Age M/F  ... Overall Gender Division
1                   Rupp, Galen   30   M  ...       2      2        2
3              Biwott, Shadrack   32   M  ...       4      4        4
5              Abdirahman, Abdi   40   M  ...       6      6        1
6            Maiyo, Augustus K.   33   M  ...       7      7        6
8                Puskedra, Luke   27   M  ...       9      9        8
...                         ...  ...  ..  ...     ...    ...      ...
26405  Steinbach, Paula Eyvonne   61   F  ...   26407  11972      344
26406        Avelino, Andrew R.   25   M  ...   26408  14436     4774
26407           Hantel, Johanna   57   F  ...   26409  11973      698
26408              Reilly, Bill   64   M  ...   26410  14437     1043
26409             Rigsby, Scott   48   M  ...   26411  14438     2553

[22815 rows x 22 columns]